.idea
build
dist
rosem-env
rosem.egg-info
.DS_Store
rosem/remove_subcls.sh
env
rosem/torsion_restraints_gemmi.py
*.pyc
setup_deprec
rosem/vis_chimerax.py
rosem/templates/submission_script.j2
rosem/gui_tmp.ui
